<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agcy.vkproject.spy" >

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.agcy.vkproject.spy.SpyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.agcy.vkproject.spy.MainActivity"
            android:configChanges="orientation"
            android:label="@string/main"
            android:theme="@style/AppTheme.NoTitle" >
        </activity>
        <activity
            android:name="com.agcy.vkproject.spy.FriendsActivity"
            android:label="@string/friends" >
        </activity>

        <service
            android:name="com.agcy.vkproject.spy.Longpoll.LongPollService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name="com.agcy.vkproject.spy.Receivers.NetworkStateReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.agcy.vkproject.spy.Receivers.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Core.Notificator$ClearNotificationsReceiver"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name="com.agcy.vkproject.spy.WelcomeActivity"
            android:label="VK Spy"
            android:theme="@style/AppTheme.NoTitle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.agcy.vkproject.spy.UserActivity"
            android:label="@string/user" >
        </activity>
        <activity
            android:name="com.agcy.vkproject.spy.SettingsActivity"
            android:label="@string/settings" >
        </activity>
        <activity
            android:name="com.agcy.vkproject.spy.FilterActivity"
            android:label="@string/title_activity_filter" />
    </application>

</manifest>
